:root {
  --header-background-color: #ffffff;
  --header-text-color: #212121;
  --header-text-background-color: #2196f3;
  --accent-color: #2196f3;
  --accent-text-color: #2196f3;
  --hero-background-color: #ffffff;
  --hero-text-title-color: #212121;
  --hero-text-color: #757575;
  --footer-background-color: #2f303a;
  --typical-padding: 94px;
  --button-color: #2196f3;
  --button-color-hover: #188ce8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 60px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: var(--typical-padding) 15px;
  }
}

.section {
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__button {
    display: inline-flex;
    margin: 10px 15px;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #000000;
    transition: fill var(--transition-duration) var(--transition-timing-function);
  }
  .header__button:hover, .header__button:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header--nav {
    display: none;
  }
}
.header--studio {
  color: #212121;
}
.header .container {
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 22px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header--link {
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header--link.current {
  color: var(--accent-color);
  position: relative;
}
.header--link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color, #2196f3);
}
.header--link:hover, .header--link:focus {
  color: var(--accent-color, #2196f3);
}
.header--link-w {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .header--link-w {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header--link-w {
    margin-left: 0px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header--list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.header--list-a:not(:last-child) {
  margin-right: 50px;
}

.header--connect {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 1200px) {
  .header--connect {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header--connect:hover, .header--connect:focus {
  color: var(--header-text-background-color, #2196f3);
}
.header--connect-mail, .header--connect-smartphone {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header--connect-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .header--connect-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.header--cnt {
  display: flex;
  margin: 0 15px 0 auto;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .header--cnt {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header--cnt {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header--cnt-1:not(:last-child) {
    margin-right: 50px;
  }
}

.header-modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 767px) {
  .header-modal {
    display: none;
  }
}
.header-modal__button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: inherit;
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.header-modal__button:hover, .header-modal__button:focus {
  fill: var(--accent-color);
}
.header-modal.is-open {
  transform: translateX(0);
}
.header-modal--list-a:not(:last-child) {
  margin-bottom: 32px;
}
.header-modal--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
}
.header-modal--link.current {
  color: var(--accent-color);
}
.header-modal--link:hover, .header-modal--link:focus {
  color: var(--accent-color);
  border-bottom: 4px solid #2196f3;
}
.header-modal--cnt > li {
  margin-bottom: 32px;
}
.header-modal--cnt > li + li {
  margin-bottom: 64px;
}
.header-modal--phone {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header-modal--mail {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-modal__social {
  display: flex;
  flex-wrap: wrap;
}
.header-modal__social-group {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.header-modal__social-group:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-modal__social-group a {
  color: #2196f3;
}

.hero__title {
  margin: 0 auto;
  padding: 0;
}
.hero__title--text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title--text {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.h1 {
  background-color: #2f303a;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .h1 {
    padding: 200px 0;
  }
}

.cursor {
  cursor: pointer;
}

.hero--btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--header-text-background-color);
  font-family: inherit;
  display: block;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 32px;
  position: relative;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.hero--btn:hover {
  background-color: #188ce8;
}

.hero__overlay {
  max-width: 480px;
  height: 400px;
  outline: 1px solid black;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop@2x.jpg);
  }
}

.backdrop {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  visibility: visible;
  transform: scale(1);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 479px) {
  .backdrop {
    padding: 30px 15px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: relative;
  background-color: #ffffff;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-height: 610px) {
  .modal {
    top: 80%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    max-height: 609px;
    height: 100%;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal--h2 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal--h2 {
    line-height: 1.15;
  }
}
.modal--form {
  display: block;
}
.modal--label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal--content {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal--input {
  height: 40px;
  width: 100%;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-origin: padding-box;
  border-radius: 4px;
  outline: 0;
  transition: border var(--transition-duration) var(--transition-timing-function);
}
.modal--input:hover, .modal--input:focus {
  border: 1px solid #2196f3;
}
.modal--icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal--input:hover + .modal--icon, .modal--input:focus + .modal--icon {
  fill: #188ce8;
}
.modal .comment::placeholder, .modal--input, .modal--input:focus-visible {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.modal--button:hover, .modal--button:focus {
  background-color: #188ce8;
}

.icon--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000;
  outline: 0px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.icon--close:hover, .icon--close:focus {
  fill: #2196f3;
}

.comment {
  display: flex;
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.checkbox {
  position: relative;
  display: flex;
  padding-left: 24px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 36px;
  }
}

.icon--check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .icon--check {
    left: 13px;
  }
}

.modal--checkbox:checked ~ .icon--check {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: #2196f3;
  background-repeat: no-repeat;
}

.modal--checkbox:focus ~ .icon--check {
  border-color: #2196f3;
}

.hero-specific {
  background-color: var(--hero-background-color, #ffffff);
  margin-left: -30px;
  margin-top: -30px;
}
@media screen and (min-width: 768px) {
  .hero-specific {
    display: flex;
    flex-wrap: wrap;
  }
}
.hero-specific li {
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (max-width: 480px) {
  .hero-specific li {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-specific li {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .hero-specific li {
    width: calc(25% - 30px);
  }
}
.hero-specific__aside {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.hero-specific__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-title-color, #212121);
  margin: 0 0 10px 0;
}
.hero-specific__content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-text-color, #757575);
}

.hero-heading {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--hero-text-title-color);
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
.what-we-do--img {
  display: flex;
  justify-content: space-between;
}
.what-we-do--img li {
  position: relative;
}
.what-we-do--img p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-left: auto;
  padding-bottom: 27px;
  padding-right: auto;
}

.hero-team {
  background: #f5f4fa;
}

.hero-our-team {
  text-align: center;
  margin-top: -30px;
  margin-left: -30px;
}
@media screen and (min-width: 768px) {
  .hero-our-team {
    display: flex;
    flex-wrap: wrap;
  }
}
.hero-our-team__box {
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .hero-our-team__box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-our-team__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-our-team__box {
    width: 270px;
  }
}
.hero-our-team__box--aside {
  padding: 30px 0;
}
.hero-our-team__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--hero-text-title-color);
}
.hero-our-team__prof {
  margin: 0;
  margin-bottom: 16px;
  font-weight: none;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--hero-text-color);
}
.hero-our-team__list {
  display: flex;
  justify-content: center;
}
.hero-our-team__soc--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.hero-our-team__soc--icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.hero-our-team__soc--link:hover, .hero-our-team__soc--link:focus {
  background-color: #2196f3;
}
.hero-our-team__soc--icon:hover .hero-our-team__soc--icon, .hero-our-team__soc--link:focus .hero-our-team__soc--icon {
  fill: #fff;
}

.permanent-clients--group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.permanent-clients--group svg {
  fill: #afb1b8;
}

.permanent-clients--item {
  width: 210px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .permanent-clients--item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .permanent-clients--item {
    width: calc(16.6666666667% - 30px);
  }
}

.permanent-clients--icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.permanent-clients--link:hover .permanent-clients--icon, .permanent-clients--link:focus .permanent-clients--icon {
  fill: #2196f3;
}

.permanent-clients--link {
  display: flex;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 100%;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.permanent-clients--link:hover, .permanent-clients--link:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.permanent-clients--h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--hero-text-title-color);
}
@media screen and (min-width: 1200px) {
  .permanent-clients--h2 {
    margin-bottom: 50px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}
.filters__item {
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .filters__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--header-text-color, #212121);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filters__button.current {
  color: var(--hero-background-color);
  background-color: var(--accent-color, #2196f3);
}
.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: var(--header-text-background-color, #2196f3);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-ptf {
  background-color: var(--hero-background-color);
}
.hero-ptf__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.hero-ptf__list li {
  margin: 15px;
}
.hero-ptf__list a {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.hero-ptf__list a:hover, .hero-ptf__list a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.hero-ptf__subtitle {
  display: block;
  padding: 20px 24px;
  justify-content: space-around;
  background: #ffffff;
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-ptf__subtitle {
    max-width: 354px;
  }
}
.hero-ptf__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--hero-text-title-color, #212121);
  margin: 0 0 4px 0;
}
.hero-ptf__site {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--hero-text-color, #757575);
  margin: 0;
}

.hero-ptf__overlay {
  display: block;
  overflow: hidden;
  position: relative;
}
.hero-ptf__overlay-wind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.hero-ptf__list a:hover .hero-ptf__overlay-wind, .hero-ptf__list a:focus .hero-ptf__overlay-wind {
  transform: translateY(0);
}
.hero-ptf__overlay-wind p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .hero-ptf__overlay-wind p {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .hero-ptf__overlay-wind p {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-ptf__overlay-wind p {
    padding: 63px 24px;
  }
}
@media screen and (min-width: 480px) {
  .hero-ptf__overlay {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .hero-ptf__overlay {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-ptf__overlay {
    width: 370px;
  }
}

.footer {
  background-color: var(--footer-background-color);
}
.footer > .container {
  align-items: baseline;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    display: flex;
    text-align: left;
  }
}
.footer__section {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__section {
    justify-content: start;
  }
}
.footer__section-address {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__section-address {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.footer--link-w {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-color, #2196f3);
  display: block;
  margin: 0 0 20px 0;
}
.footer--studio {
  color: #ffffff;
}
.footer--address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer--address p {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer--address p {
    margin: 0 0 9px 0;
  }
}
.footer--link a {
  color: rgba(255, 255, 255, 0.6);
}
.footer--link li:not(:last-child) {
  margin-bottom: 9px;
}

/* ---social--for---footer---- */
.social {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social {
    margin: 0 0 0 70px;
    text-align: left;
  }
}
.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social__list a {
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__soc:not(:last-child) {
  margin: 0 10px 0 0;
}
.social__soc--link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.social__soc--link:hover, .social__soc--link:focus {
  background-color: #2196f3;
}

/* ------------------subscribe__footer---------------- */
.subscribe {
  display: block;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__footer {
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__footer {
    display: flex;
  }
}
.subscribe__footer-h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe__footer--input {
  width: 450px;
  min-width: 100px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  .subscribe__footer--input {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__footer--input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscribe__footer--input::placeholder, .subscribe__footer--input {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__footer--button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.subscribe__footer--button:hover, .subscribe__footer--button:focus {
  background-color: #188ce8;
}
.subscribe__footer--icon-send {
  display: flex;
  margin-left: 10px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */