body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: var(--typical-padding) 0;
}

:root {
  --header-background-color: #ffffff;
  --header-text-color: #212121;
  --header-text-background-color: #2196f3;
  --accent-color: #2196f3;
  --hero-background-color: #ffffff;
  --hero-text-title-color: #212121;
  --hero-text-color: #757575;
  --footer-background-color: #2f303a;
  --typical-padding: 94px;
  --button-color: #2196f3;
  --button-color-hover: #188ce8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.header-link-w {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color, #2196f3);
  margin-right: 93px;
}

.header-studio {
  color: #212121;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color, #212121);
  padding-bottom: 31px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-list-a:not(:last-child) {
  margin-right: 50px;
}

.header-link.current {
  color: var(--accent-color);
  position: relative;
}

.header-link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color, #2196f3);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color, #2196f3);
}

.header-connect-mail,
.header-connect-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.header-connect {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-connect:hover,
.header-connect:focus {
  color: var(--header-text-background-color, #2196f3);
}

.header-cnt {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
}

.header-cnt-1:not(:last-child) {
  margin-right: 50px;
}

.hero-title {
  margin: 0 auto;
}

.h1 {
  background: #2f303a;
  padding: 200px 0;
}

.cursor {
  cursor: pointer;
}

.hero-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--header-text-background-color, #2196f3);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 32px;
  position: relative;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero-btn:hover {
  background-color: #188ce8;
}

.hero-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--hero-text-title-color, #212121);
  margin-bottom: 50px;
}

.hero-heading-img {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.hero-heading-img li {
  position: relative;
}

.hero-heading-img p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.backdrop {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transform: scale(1);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000;
  outline: 0px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icon-close:hover,
.icon-close:focus {
  fill: #2196f3;
}

.modal-h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form {
  display: block;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-content {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-input {
  height: 40px;
  width: 100%;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-origin: padding-box;
  border-radius: 4px;
  outline: 0;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #000;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #188ce8;
}

.comment {
  display: flex;
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.comment::placeholder,
.modal-input,
.modal-input:focus-visible {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  display: flex;
  padding-left: 36px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal-checkbox:checked ~ .icon-check {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
  border-color: #2196f3;
  background-repeat: no-repeat;
}

.modal-checkbox:focus ~ .icon-check {
  border-color: #2196f3;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

.overlay-hero {
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-comand.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.permanent-clients-group {
  display: flex;
  justify-content: space-between;
}

.permanent-clients-item {
  width: 170px;
  height: 92px;
}

.permanent-clients-group svg {
  fill: #afb1b8;
}

.permanent-clients-link:hover,
.permanent-clients-link:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.permanent-clients-link:hover .permanent-clients-icon,
.permanent-clients-link:focus .permanent-clients-icon {
  fill: #2196f3;
}

.permanent-clients-icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.permanent-clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 100%;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.permanent-clients-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--hero-text-title-color, #212121);
  margin-bottom: 50px;
}

.hero-team {
  background: #f5f4fa;
}

.hero-our-team {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.hero-our-team-box {
  margin: 15px;
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-our-team-box-aside {
  padding: 30px 0;
}

.hero-our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hero-text-title-color, #212121);
  margin: 0 0 10px 0;
}

.hero-our-team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hero-text-color, #757575);
  margin: 0 0 16px 0;
}

.hero-our-team-list {
  display: flex;
  justify-content: center;
}

.hero-our-team-soc:not(:last-child) {
  margin: 0 10px 0 0;
}

.hero-our-team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero-our-team-soc-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.hero-our-team-soc-link:hover,
.hero-our-team-soc-link:focus {
  background-color: #2196f3;
}

.hero-our-team-soc-link:hover .hero-our-team-soc-icon,
.hero-our-team-soc-link:focus .hero-our-team-soc-icon {
  fill: #fff;
}

.specific {
  padding-bottom: 0;
}

.hero-specific {
  background-color: var(--hero-background-color, #ffffff);
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.hero-specific li {
  width: 270px;
}
.hero-specific__aside {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.hero-specific__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-title-color, #212121);
  margin: 0 0 10px 0;
}
.hero-specific__content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-text-color, #757575);
  margin: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 50px 0;
}
.filters__item {
  padding: 0px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--header-text-color, #212121);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filters__button.current {
  color: var(--hero-background-color);
  background-color: var(--accent-color, #2196f3);
}
.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: var(--header-text-background-color, #2196f3);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-ptf {
  background-color: var(--hero-background-color);
}
.hero-ptf__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.hero-ptf__list li {
  margin: 13px;
  border: 1px solid #eeeeee;
}
.hero-ptf__list a {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.hero-ptf__list a:hover, .hero-ptf__list a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.hero-ptf__subtitle {
  display: block;
  padding: 20px 24px;
  justify-content: space-around;
  background: #ffffff;
}
.hero-ptf__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--hero-text-title-color, #212121);
  margin: 0 0 4px 0;
}
.hero-ptf__site {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--hero-text-color, #757575);
  margin: 0;
}

.hero-ptf__overlay {
  display: block;
  overflow: hidden;
  position: relative;
}
.hero-ptf__overlay-wind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.hero-ptf__list a:hover .hero-ptf__overlay-wind, .hero-ptf__list a:focus .hero-ptf__overlay-wind {
  transform: translateY(0);
}
.hero-ptf__overlay-wind p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
  padding: 63px 24px;
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-link-w {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-color, #2196f3);
  display: block;
  margin: 0 0 20px 0;
}

.footer-studio {
  color: #ffffff;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address p {
  margin: 0;
}

.footer-link a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link li:not(:last-child) {
  margin-bottom: 9px;
}

/* ---social--for---footer---- */
.social {
  margin-left: 70px;
}

.social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list a {
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-soc:not(:last-child) {
  margin: 0 10px 0 0;
}

.social-soc-link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-soc-link:hover,
.social-soc-link:focus {
  background-color: #2196f3;
}

/* ------------------FOOTER-SUBSCRIBE---------------- */
.subscribe {
  display: block;
  margin-left: auto;
}

.footer-subscribe-h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscribe {
  display: flex;
}

.subscribe-input,
.subscribe-input:focus-visible {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  /* outline: 0px; */
}

.subscribe-input::placeholder,
.subscribe-input,
.subscribe-input:focus-visible {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #188ce8;
  /* outline: 0; */
}

.subscribe-icon-send {
  display: flex;
  margin-left: 10px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */