.footer {
  background-color: var(--footer-background-color);

  & > .container {
    align-items: baseline;
    text-align: center;

    @media screen and (min-width: $desktop) {
      display: flex;
      text-align: left;
    }
  }

  &__section {
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      @media screen and (min-width: $desktop) {
        justify-content: start;
      }
    }
  }

  &__section-address {
    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &--link-w {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--accent-color, #2196f3);
    display: block;
    margin: 0 0 20px 0;
  }
  &--studio {
    color: #ffffff;
  }
  &--address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &--address p {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin: 0 0 9px 0;
    }
  }
  &--link a {
    color: rgba(255, 255, 255, 0.6);
  }
  &--link li:not(:last-child) {
    margin-bottom: 9px;
  }
}
/* ---social--for---footer---- */
.social {
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin: 0 0 0 70px;
    text-align: left;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__list a {
    fill: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__soc:not(:last-child) {
    margin: 0 10px 0 0;
  }
  &__soc--link {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
      background-color: #2196f3;
    }
  }
}

/* ------------------subscribe__footer---------------- */
.subscribe {
  display: block;

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}
.subscribe__footer {
  justify-content: center;

  @media screen and (min-width: $desktop) {
    display: flex;
  }
  &-h2 {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
  &--input {
    width: 450px;
    min-width: 100px;
    height: 50px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;

    @media screen and (max-width: ($mobile - 1)) {
      max-width: 100%;
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }

  &--input::placeholder,
  &--input {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &--button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    transition: background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  &--icon-send {
    display: flex;
    margin-left: 10px;
    fill: #ffffff;
  }
}
