.header {
  border-bottom: 1px solid #ECECEC;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @media screen and (max-width: ($tablet - 1)) {
      display: inline-flex;
      margin: 10px 15px;
      padding: 0;
      border: none;
      background-color: transparent;
      fill: #000000;

      transition: fill var(--transition-duration) var(--transition-timing-function);

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &--nav {
    @media screen and (max-width: ($tablet - 1)) {
      display: none;
    }
  }
  &--studio {
    color: #212121;
  }
  & .container {
    align-items: center;

    @media screen and (min-width: $tablet) {
      padding-top: 22px;
      padding-bottom: 21px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}

.header--link {
@include font(null, 31px, 500, 14px, 1.14, 0.02em, null, null, #212121, null);

  transition: color var(--transition-duration) var(--transition-timing-function);
  &.current {
    color: var(--accent-color);
    position: relative;
  }
  &.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -31px;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color, #2196f3);
  }
  &:hover,
  &:focus {
    color: var(--accent-color, #2196f3);
  }
  &-w {
    font-family: "Raleway", sans-serif;
  @include font(null, null, 700, 24px, 1.16, 0.03em, null, null, var(--accent-text-color), null);

    margin-left: 15px;

    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: 0px;
      margin-right: 93px;
      font-size: 26px;
      line-height: 1.19;
    }
  }
}

.header--list {
  display: flex;
  margin: 0;
  padding-left: 0;

  &-a:not(:last-child) {
    margin-right: 50px;
  }
}

.header--connect {
  @include font(null, null, 500, 12px, 1.17, 0.02em, null, null, #757575, null);

  transition: color var(--transition-duration) var(--transition-timing-function);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--header-text-background-color, #2196f3);
  }
  &-mail,
  &-smartphone {
    fill: currentColor;
    margin-right: 8px;
  }

  @media screen and (min-width: $desktop) {
    &-mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
    &-smartphone {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

.header--cnt {
  display: flex;
  margin: 0 15px 0 auto;
  padding: 0;

  @media screen and (max-width: ($tablet - 1)) {
    display: none;
  }

  @media screen and (max-width: ($desktop - 1)) {
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    &-1:not(:last-child) {
      margin-right: 50px;
    }
  }
}

