.hero-heading {
  margin: 0;
@include font(null, 50px, 700, 36px, 1.17, 0.03em, null, center, var(--hero-text-title-color), null);

}
.what-we-do {

  @media screen and (max-width: ($desktop - 1)) {
    display: none;
  }
&--img {
  display: flex;
  justify-content: space-between;
}
&--img li {
  position: relative;
}

&--img p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @include font(100%, null, 700, 14px, 1.14, 0.03em, uppercase, center, #ffffff, rgba(47, 48, 58, 0.8));
  padding-top: 27px;
  padding-left: auto;
  padding-bottom: 27px;
  padding-right: auto;

}
}