body {
  font-family: "Roboto", sans-serif;
}
body.modal-open {
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 100%;
  padding: 60px 15px;
  margin: 0 auto;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: var(--typical-padding) 15px;
  }
}
.section {
  margin: 0;
  padding: 0;

}
