:root {
  --header-background-color: #ffffff;
  --header-text-color: #212121;
  --header-text-background-color: #2196f3;
  --accent-color: #2196f3;
  --hero-background-color: #ffffff;
  --hero-text-title-color: #212121;
  --hero-text-color: #757575;
  --footer-background-color: #2f303a;
  --typical-padding: 94px;

  --button-color: #2196f3;
  --button-color-hover: #188ce8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$font-weidht-700: 700;
$font-weidht-500: 500;

$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;

$line-height-2: 2;
$line-height-188: 1.88;
$line-height-171: 1.71;
$line-height-162: 1.62;
$line-height-156: 1.56;
$line-height-154: 1.54;
$line-height-114: 1.14;

$letter-spacing-006: 0.06em;
$letter-spacing-003: 0.03em;
